body{
  padding-top: 3em;
  height: 100vh;
  background-image: url(../assets/images/viaje.jpg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container_search{
  opacity: 5;
}

#map {
  align-self: flex-end;
  border: 3px solid white;
  height: 50vh;
  width: 40vw;
}
@media (max-width: 600px) {
  #map {
    align-self: flex-end;
    border: 3px solid white;
    height: 45vh;
    width: 85vw;
  }
  p{
    /*display: block;*/
  }
}
