body{
  height: 100vh;
  background-image: url(../assets/images/viaje.jpg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

header {
  background-color: #2bbbad;
  color: whitesmoke;
  font-family: 'VT323', monospace;
  width: 100%;
}

header h3 {
  float: right;
  padding-right: 15px;
}

blockquote {
  color: whitesmoke;
  font-weight: 500
}

#map {
  align-self: flex-end;
  border: 3px solid white;
  height: 50vh;
  width: 40vw;
}
@media (max-width: 600px) {
  #map {
    align-self: flex-end;
    border: 3px solid white;
    height: 45vh;
    width: 85vw;
  }
  p{
    /*display: block;*/
  }
}
